@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700&display=swap");

@tailwind base;
@layer base {
  h1,
  h2,
  h3 {
    @apply font-title;
  }

  p,
  nav {
    @apply font-text;
  }
}

@tailwind components;
@layer components {
  .button {
    @apply flex-center w-full text-white rounded-2xl font-text py-4 px-11 my-6 shadow-xl shadow-black-100 bg-summer-blue-100 dark:bg-boreal-blue-100 text-sm sm:text-xl sm:text-center md:w-auto md:px-5;
  }

  .menu-item {
    @apply w-full border-b-2 border-white pb-2 mb-3 last:border-none last:mb-0 last:pb-0 sm:w-auto sm:border-none sm:pb-0 sm:mb-0;
  }

  .menu-nav {
    @apply absolute text-white inline-block w-full h-full inset-0 justify-center items-center bg-summer-blue-100/10 dark:bg-boreal-blue-100/10 font-bold sm:static sm:bg-transparent sm:before:hidden sm:animate-none;
  }

  .menu-list {
    @apply flex flex-col absolute bg-summer-blue-100 dark:bg-boreal-blue-100 text-center top-40 justify-center items-center rounded-md p-5 opacity-100  sm:animate-none sm:static sm:bg-transparent sm:flex-row sm:space-x-10 md:mb-0 md:space-x-4 lg:space-x-10;
  }

  .card-text {
    @apply flex flex-col items-center justify-center text-center text-summer-gray mx-5 dark:text-white md:mx-20 lg:mx-10;
  }

  .line-up-header {
    @apply max-[326px]:w-full inline-block text-3xl text-white p-4 bg-summer-mustard dark:bg-boreal-green;
  }

  .line-up-header-line {
    @apply bg-summer-mustard sm:inline sm:h-[1px] sm:min-w-[10%] md:inline md:h-[1px] md:min-w-[25%];
  }

  .rendered-card-image {
    @apply w-80 h-96 bg-cover bg-center bg-no-repeat md:w-100 max-[346px]:w-56;
  }

  .rendered-default-image {
    @apply rendered-card-image rounded-2xl bg-summer-card dark:bg-boreal-card;
  }

  .row-container {
    @apply my-5 mb-9 flex-center flex-wrap font-bold leading-snug first-rows-size last-rows-size;
  }
}

@tailwind utilities;
@layer utilities {
  .card:nth-child(2) {
    @apply bg-red-500;
  }
  .shadow-black-100 {
    box-shadow: 4px 4px 0 #000;
  }

  .w-100 {
    width: 38rem;
  }

  .w-footer-logo {
    width: 14.619rem;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-summer-gradient-100 via-summer-gradient-200 to-summer-gradient-300 dark:bg-gradient-to-b dark:from-boreal-gradient-100 dark:via-boreal-gradient-200 dark:to-boreal-gradient-300;
  }

  .hover {
    @apply transition ease-out hover:text-summer-mustard dark:hover:text-boreal-gradient-300;
  }

  .align-rendered-image {
    @apply flex flex-col items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .last-rows-size {
    @apply [&:nth-child(2)]:text-3xl last:font-normal last:text-3xl last:w-3/4 sm:last:w-full md:[&:nth-child(2)]:w-4/5 md:last:w-4/5 lg:[&:nth-child(2)]:text-[2rem] lg:[&:nth-child(2)]:w-full lg:last:text-[2rem];
  }

  .first-rows-size {
    @apply first:text-4xl first:w-3/4 md:first:w-full lg:first:text-[2.5rem];
  }

  .scroll-bar::-webkit-scrollbar {
    @apply w-[1.3em];
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    @apply bg-summer-scrollbar-100 hover:bg-summer-scrollbar-200;
  }

  .disabled-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-summer-scrollbar-100/60 hover:bg-summer-scrollbar-100/60;
  }

  .rounded-l {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
